#root{
    background-color: #fe5011;
    background-image: url('./images/home.jpeg') ;
    background-size: cover;
    background-position: center;
}

.home-container {
    position: relative;
    text-align: center;
    color: rgb(220, 31, 31);
    
    background-size: cover;
    height: 100vh;

}

#root .custom-nav{
    background: rgba(250, 250, 250, 0.1) !important;
    
    
}


.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.title {
    font-size: 60px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
    margin: 10px 0;
}

.highlight {
    font-size: 36px;
    margin: 20px 0;
}

.gym-highlight {
    color: #FF5733; /* Bright color for emphasis */
}

.cta-button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #FF5733; /* Button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #c94c2e; /* Darker shade on hover */
}

